@charset "utf-8";

#main div.pic {
	padding:2px;
	border: 4px solid #ddd;
}
#main div.pic img {
	width:100%;
	height:200px;
}
#main div.pub-list ul {
	font-size:80%;
}
#main div.pub-list ul li {
	margin-bottom:5px;
}
#main div.pub-list p.year {
	font-size:80%;
	color:#f00;
}